<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">



    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- lib/underscore js -->
    <script src="lib/underscore/underscore-min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- lib/pouchdb js -->
    <script src="lib/pouchdb/dist/pouchdb.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="webspeaksApp">

    <ion-pane ng-controller="AppController">

        <ion-header-bar class="bar-calm">
            <h1 class="title">WebSpeaks.in</h1>
        </ion-header-bar>

        <ion-content>

            <ion-refresher pulling-text="Pull to Refresh..." on-refresh="refreshFeed()"></ion-refresher>

            <ion-list>
                <ion-item ng-repeat="feed in feeds" class="">
                    <a href="{{feed.link}}" ng-bind-html="feed.title" class="title"></a>
                    <p ng-bind-html="feed.contentSnippet" class="description"></p>
                    <div class="footer">
                        <span class="item-note">{{feed.publishedDate | limitTo:16}}</span>
                        <span class="author">-{{feed.author}}</span>
                    </div>
                </ion-item>
            </ion-list>

        </ion-content>

    </ion-pane>

  </body>
</html>
